bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

.vscode/

.vs/
*.dbmdl
*.pdb
*.cache
*.log
*.sdf
*.VC.db

ScaffoldingReadMe.txt

*.nupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config
.nuget/
project.lock.json
project.fragment.lock.json
node_modules/

*.log

*.tmp
*.temp
*.dll
*.exe

TestResults/
*.vspscc
*.vssscc
_ReSharper*/
*.resharper
*.DotSettings.user
*.orig

*.mdf
*.ldf

secrets.json

.env
Dockerfile.*
docker-compose*.yml
